<div class="container">
	<div class="row">
		<div class="col s10 offset-s1 form-border">
			<blockquote><h2><%= @setlist.name %></h2></blockquote>
			<hr class="style2">
			<%= link_to "Edit Setlist", edit_setlist_path(@setlist) %> <br>
			<% @setlist.items.each do |item| %>
			<p class="text-header setlist-item">
				<%= item.position %>. <%= item.arrangement.song.name %>
			</p>
				<hr class="style1">
				<% end %>
			</div>
		</div>
	</div>


